GeoQuiz/.gradle/
GeoQuiz/.idea/
GeoQuiz/build/
GeoQuiz/captures/
workspace.xml
CriminalIntent/.gradle/
CriminalIntent/.idea/
CriminalIntent/build/
CriminalIntent/captures/
*.iml
BeatBox\.gradle\
BeatBox/.idea/caches/
.DS_Store
BeatBox/build/
BeatBox/captures/
.externalNativeBuild
.cxx
local.properties