GeoQuiz/.gradle/
GeoQuiz/local.properties
GeoQuiz/.idea/
GeoQuiz/build/
GeoQuiz/captures/
workspace.xml
CriminalIntent/.gradle/
CriminalIntent/local.properties
CriminalIntent/.idea/
CriminalIntent/build/
CriminalIntent/captures/
*.iml
BeatBox\.gradle\
BeatBox/local.properties
BeatBox/.idea/caches/
.DS_Store
BeatBox/build/
BeatBox/captures/
.externalNativeBuild
.cxx
local.properties
BeatBox/.gradle/7.0.2/javaCompile/jarAnalysis.bin
