GeoQuiz/.gradle
GeoQuiz/local.properties
GeoQuiz/.idea/caches
GeoQuiz/.idea/libraries
GeoQuiz/.idea/modules.xml
GeoQuiz/.idea/workspace.xml
GeoQuiz/.idea/navEditor.xml
GeoQuiz/.idea/assetWizardSettings.xml
GeoQuiz/build
GeoQuiz/captures

CriminalIntent/.gradle
CriminalIntent/local.properties
CriminalIntent/.idea/caches
CriminalIntent/.idea/libraries
CriminalIntent/.idea/modules.xml
CriminalIntent/.idea/workspace.xml
CriminalIntent/.idea/navEditor.xml
CriminalIntent/.idea/assetWizardSettings.xml
CriminalIntent/build
CriminalIntent/captures

*.iml
BeatBox/.gradle
BeatBox/local.properties
BeatBox/.idea/caches
BeatBox/.idea/libraries
BeatBox/.idea/modules.xml
BeatBox/.idea/workspace.xml
BeatBox/.idea/navEditor.xml
BeatBox/.idea/assetWizardSettings.xml
.DS_Store
BeatBox/build
BeatBox/captures
.externalNativeBuild
.cxx
local.properties
